<section class="py-10">
  <h2
    class="text-2xl font-bold leading-tight tracking-tight px-4 pb-4 text-gray-900 dark:text-white"
  >
    Sobre Mí
  </h2>
  <p class="text-gray-600 dark:text-gray-300 text-base font-normal leading-relaxed px-4">
    Soy un desarrollador web apasionado por crear soluciones innovadoras y eficientes. Con
    experiencia en Angular y Spring Boot, me enfoco en el desarrollo de aplicaciones web de alto
    rendimiento y fácil mantenimiento. Mi objetivo es transformar ideas en realidad, superando
    desafíos y aprendiendo continuamente.
  </p>
</section>
