<section class="w-full">
<div class="flex flex-col-reverse lg:flex-row gap-8 lg:gap-12 py-10 items-center">
<div class="flex flex-col gap-6 text-center lg:text-left flex-1">
<div class="flex flex-col gap-3">
<h1 class="text-4xl md:text-5xl font-black leading-tight tracking-tighter text-gray-900 dark:text-white">
                      Desarrollador Web Full Stack
                    </h1>
<p class="text-base md:text-lg font-normal leading-normal text-gray-600 dark:text-gray-300">
                      Especializado en Angular y Spring Boot, creo aplicaciones web rápidas y escalables. Mi enfoque se centra en la calidad del código y la experiencia del usuario.
                    </p>
</div>
<button class="flex self-center lg:self-start min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-lg h-12 px-6 bg-primary text-white text-base font-bold leading-normal tracking-[0.015em] hover:bg-primary/90 transition-colors">
<span class="truncate">Ver Proyectos</span>
</button>
</div>
<div class="w-full max-w-md lg:max-w-none lg:w-1/2 aspect-square bg-center bg-no-repeat bg-cover rounded-xl" style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuAuHqNQlwvzX4xhdFI-1B5Q11Hg_StqmpnR43m2CPz2bRf8oSKyP7jAuSwqJpd9hWB5ZBgcR5X5aZH8n6MqKCVuZr1L9r39R1ZcJJs8rVLP5fMl6nW7AwqOkaft59nZRYoWCl4SeymUajMTFLpWw6WK_jWdMbb9SZU9Sh6CpjceuYZt7LvJOwZywd8y_n7dmrGggkYFbZ59Dj5sGIDuqh3lUBmg_hQr23UlygmzXyxHJl0KmO-W0IwxB-h8DsUYJo1SU4CkkZblteZK");'></div>
</div>
</section>